html {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #A9A9A9;
}

ul {
    list-style: none;
}

.container {
    position: relative;

    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
}

.container::before {
    content: "";
    top: 0;
    bottom: 0;
    border: solid 2px #02628A;
    position: absolute;

    left: 50%;
    transform: translateX(-50%);

}


.timeline {
    display: flex;
    flex-direction: column;
}

.timeline-event {
    height: 200px;
    background-color: #ffff;
    margin-top: 25px;
    width: 45%;
}

.timeline-event::after {
    content: "";
    height: 0;
    position: absolute;
    top: 25px;
    width: 0;
    z-index: 1;
    right: 52%;
    border: medium solid #026289;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #fff;
}


.timeline-event:nth-child(even){
    margin-left: 51%;
    background-image: url(sunset.jpeg);
    background-size: 495px 87px;
    background-repeat: no-repeat;
}


li > h2 {
    position: relative;
    top: 1%;
    padding-left: 22px;
   
}

li > p {
    position: relative;
    padding-left: 22px; 
    padding-right: 22px;
    padding-bottom: 20px;
    font-size: 90%;
}

.more {
    position: relative;
    background-color: #02628A;
    color: #ffff;
    left: 25px;
    bottom: 16px; 
} 

.current-date {
    display: inline-block;
    position: relative;
    border: solid 1px #FF4056;
    background-color: #FF4056 ;
    color: #ffff;
    padding-left: 4px;
    padding-right: 4px;
    bottom: 77%;
    left: 76%;
}

.current-date2 {
    display: inline-block;
    position: relative;
    border: solid 1px #FF4056;
    background-color: #FF4056 ;
    color: #ffff;
    padding-left: 4px;
    padding-right: 4px;
    bottom: 77%;
    left: 76.5%;   
}

.current-date3 {
    display: inline-block;
    position: relative;
    border: solid 1px #FF4056;
    background-color: #FF4056 ;
    color: #ffff;
    padding-left: 4px;
    padding-right: 4px;
    bottom: 84%;
    left: 86.5%;   
}

.current-date3::after {
    content: "";
    height: 0;
    position: absolute;
    top: 25px;
    width: 0;
    z-index: 1;
    right: -11px;
    border: medium solid #026289;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #fff;
}



.right-card {
    top: 30px;
    color: #000;
    z-index: 1;
    color: #fff;

}

.right-card::before{
    content: " ";
    height: 0;
    position: absolute;
    top: -44px;
    width: 0;
    z-index: 1;
    left: -11px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}


.right-info {
    top: 20px
}

.rightbtn {
    position: relative;
    background-color: #02628A;
    color: #ffff;
    left: 25px;
    bottom: 2px; 
}
.fa-solid {
    position: relative;
    bottom: 440px;
    left: 570px;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px #02628A;
    border-radius: 50%;
    background-color: #02628A;
    

}

.pencil1 {
    display: inline-block;
    position: relative;
    bottom: 225px;
}

.pencil2 {
    display: inline-block;
    position: relative;
    left: -22px;
}

.pencil3 {
    display: inline-block;
    position: relative;
    top: 250px;
    right: 49px;
}



@media (max-width: 768px) {
    .timeline-event:nth-child(even) {
        margin-left: initial;
    }

    .container::before {
        left: 2%;
    }
    .timeline::after {
        left: 31px;
      }
    
    
      .timeline-event {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
      }
    
    
      .timeline-event::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }
    
      .fa-solid::after {
        left: 15px;
      }

      li > h2 {
        right: 60px;
      }
      
      p {
        right: 50px;
        bottom: 20px
      }

      .current-date {
        bottom: 237px;
        left: 143px;
      }

      .more {
        bottom: 75px;
        left: 192px;

      }

      .current-date2 {
        bottom: 204px;
        right: 50%;
      }
    
      .rightbtn {
        bottom: 43px;
        left: 192px;
      }

      .current-date3 {
        bottom: 235px;
        left: 197px;
      }
        
      .pencil1 {
        right: 573px;
      }
 }

      






    

    
    



    

    





   